@model IEnumerable<SpongeBob_Mall.Models.Goods>
@using System.Collections;
@using System.Xml.Linq;
@using System.Xml;
@{ 
    XmlDocument xmlDocument = new XmlDocument();
    xmlDocument.Load("F:/CodeBag/ASP.NET/SpongeBob_Mall/SpongeBob_Mall/XML/Choose_Class.xml");
}
<div class="kuangk">
    <div class="left_panel">
        <div class="left_choose_menu">
            <div class="choose_class"><a>稀有度</a></div>
            <div class="choose_list">
                @{ 
                    XmlNode root = xmlDocument.SelectSingleNode("choose_class/xiyoudu");
                    XmlNodeList list = root.ChildNodes;
                    foreach (XmlNode item in list)
                    {
                        @Html.ActionLink(item.FirstChild.InnerText,"Index",new {choose= item.FirstChild.InnerText },new {@class= "choose_div" });
                    }
                }
            </div>
        </div>
        <div class="left_choose_menu">
            <div class="choose_class"><a>类型</a></div>
            <div class="choose_list">
                @{
                    XmlNode root2 = xmlDocument.SelectSingleNode("choose_class/leixing");
                    XmlNodeList list2 = root2.ChildNodes;
                    foreach (XmlNode item in list2)
                    {
                        @Html.ActionLink(item.FirstChild.InnerText, "Index", new { choose = item.FirstChild.InnerText }, new { @class = "choose_div" });
                    }
                }
            </div>
        </div>
    </div>
    <div class="main_panel">
        <div class="main_choose_menu">
            @Html.ActionLink("时间升序", "Index", "Shop", new { sort = -1 },new{ @class = "sort_way" })
            @Html.ActionLink("价格升序", "Index", "Shop", new { sort = -2 },new{ @class = "sort_way" })

                @using (Html.BeginForm("Search","Shop", FormMethod.Get,new { @class="search_bar" }))
                {
                    <input type="text" name="search_value" />
                    <input type="submit" value="搜索"/>
                }

        </div>
        <div class="main_goods_list">
            @*foreach (var item in Model)
            {
                <div class="goods_div">
                    @Html.ActionLink(" ","ShopPage","Shop",new {id=item.GoodsId, @class= "goods_img" })
                    <div class="goods_date">
                        @Html.DisplayFor(modelItem => item.Map.Name)<br>
                        mapid:@Html.DisplayFor(modelItem => item.MapID)
                    </div>
                </div>
            }*@
        </div>
        <div class="change_page">
            @if (ViewBag.page_number != 1)
            {
                @Html.ActionLink("上一页", "ChangePage", "Shop", new {state=-1, @class = "change_buttom1" })
            }
            else
            {
                <div class="change_buttom1" style="color:cornflowerblue">上一页</div>
            }
            <div class="page_number">@ViewBag.page_number</div>
            @Html.ActionLink("下一页", "ChangePage", "Shop", new { state = 1, @class = "change_buttom2" })
        </div>
    </div>
</div>